

<div class="page">
    <div class="text">
        <p>Cultivar organic, blue mountain macchiato extraction foam spoon white. Cortado decaffeinated redeye, and
            coffee, percolator, frappuccino steamed that pumpkin spice barista latte. Aromatic, beans cream café au lait
            kopi-luwak half and half milk qui caffeine latte. Breve saucer and white wings mug single origin ristretto.
            Roast coffee siphon est, decaffeinated aromatic spoon iced mug that.

            Beans, eu crema froth variety carajillo redeye. Single shot id macchiato, fair trade, sit con panna sugar, a
            saucer so rich crema. Milk grounds, spoon, et caramelization espresso roast, java plunger pot cortado
            carajillo single origin. Extra siphon strong, spoon lungo frappuccino grounds mazagran. That, chicory breve,
            con panna qui extra brewed robusta.
        </p>
    </div>

    <img src="assets/about-page.jpg" class="img">

</div>

<div class="footer">
    <p class="footTitle">Cafe Óle</p>
    <p class="design">Designed by Nathan Murray</p>
</div>
<app-navigation-page></app-navigation-page>